/*-----------------*\
        INDEX
\*-----------------*/

/*
  1- Header
  2- ShowCase
  3- Searches
*/

/*1 - Header */

.bg-nav {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  max-height: 30rem;
}

.bg-nav::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
}

.bg-filter {
  position: relative;
  z-index: 1;
  color: white;
  padding: 20px;
}

.logo{
  position: absolute;
  font-size: 2rem;
}

.logo-img{
  position: relative;
  max-height: 3rem;
}

.shaker{
  max-height: 20rem;
  padding-top: 2rem;
}

.drink{
  position: relative;
  max-height: 24rem;
}

/*2 - ShowCase */
.p-6 {
  padding: 5rem !important;
}

.p-7 {
  padding: 8rem !important;
}

.hero{
  background-size: cover;
  background-repeat: no-repeat;
}

.filter{
  background-color: rgba(0, 0, 0, 0.5);
}

.thumb{
  background-size: 96% !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
}

.icon-box {
  text-align: center;
  padding: 30px 20px;
  transition: all ease-in-out 0.3s;
  background: #fff;
  cursor: pointer;
}
.icon-box .icon {
  margin: 0 auto;
  width: 64px;
  height: 64px;
  background: #eaf4fb;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  transition: ease-in-out 0.3s;
}
.icon-box .icon i {
  color: #3498db;
  font-size: 28px;
}
.icon-box h4 {
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 24px;
}
.icon-box h4 a {
  color: #384046;
  transition: ease-in-out 0.3s;
}
.icon-box p {
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
}
.icon-box:hover {
  border-color: #fff;
  box-shadow: 0px 0 25px 0 rgba(0, 0, 0, 0.1);
}
.icon-box:hover h4 a, .icon-box:hover .icon i {
  color: #3498db;
}

.icon-box {
  padding: 30px;
  border-radius: 6px;
  background: #fff;
  transition: ease-in-out 0.3s;
}
.icon-box i {
  float: left;
  color: #73797d;
  font-size: 40px;
  line-height: 0;
}
.icon-box h4 {
  margin-left: 70px;
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 18px;
}
.icon-box h4 a {
  color: #384046;
  transition: 0.3s;
}
.icon-box p {
  margin-left: 70px;
  line-height: 24px;
  font-size: 14px;
}
.icon-box:hover {
  transform: scale(1.05);
  box-shadow: 0px 2px 22px rgba(0, 0, 0, 0.08);
}
.icon-box:hover h4 a {
  color: #3498db;
}

.input-filter {
  background-color: rgba(255, 255, 255, 0.4) !important;
  border-color:#4d331f!important;
}

.input-filter:focus {
  border-color: #7d5638!important;
  box-shadow: 0 0 0 .25rem rgba(231, 170, 91, 0.15)!important;
}
/*3 - Searches */

.bg-searches{
  background: rgb(253,187,45);
  background: linear-gradient(0deg, rgba(253,187,45,1) 0%, rgba(51,32,16,1) 100%);
}

.btn-filter {
  background-color:#4d331f !important;
  border-color:#4d331f !important;
}

.btn-filter:hover {
  background-color:#332010 !important;
  border-color:#332010 !important;
}

